@charset "utf-8";
:root {
    --color1: #CCCCFF;
    --color2: #6495ED;
    --color3: #40d0e0;
    --color4: #9fe3bf;
    --color5: #DE3163;
    --color6: #FF7F50;
    --color7: #FFBF00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #111;
}

.wrapper{
    width: 300px;
    height: 500px;
    background-color: var(--color1);
}

.wrapper .box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3em;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    background-color: var(--color2);
    transform: translateX(-50%) translateY(-50%) scale(2) rotate(0.5turn) skewX(-10deg) skewY(10deg);
}

.wrapper:hover .box {
    transform: translateX(-50%) translateY(-50%) scale(2) rotate(0.1turn) skewX(-10deg) skewY(10deg);
}