@charset "utf-8";
:root {
    --color1: #CCCCFF;
    --color2: #6495ED;
    --color3: #40E0D0;
    --color4: #9FE2BF;
    --color5: #DE3163;
    --color6: #FF7F50;
    --color7: #FFBF00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 955px;
    height: 221px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper svg {
    animation: end 0.5s linear forwards;
}


.wrapper path {
    animation: stroke 1s linear forwards;
    /*stroke-dasharray: 4794;*/
    /*stroke-dashoffset: 4794;*/
}

svg {
    animation: fill 0.5s linear forwards 3.4s;
}

svg path {
    stroke: var(--color2);
    stroke-width: 5;
    animation: stroke 1s linear forwards;
}

@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes end {
    /*from {*/
    /*    fill: transparent;*/
    /*}*/
    to {
        fill: var(--color2);
    }
}

.wrapper path:nth-child(1) {
    stroke-dasharray: 498px;
    stroke-dashoffset: 498px;
}

svg path:nth-child(2) {
    stroke-dasharray: 555px;
    stroke-dashoffset: 555px;
    animation-delay: 0.3s;
}
svg path:nth-child(3) {
    stroke-dasharray: 387px;
    stroke-dashoffset: 387px;
    animation-delay: 0.6s;
}
svg path:nth-child(4) {
    stroke-dasharray: 555px;
    stroke-dashoffset: 555px;
    animation-delay: 0.9s;
}
svg path:nth-child(5) {
    stroke-dasharray: 261px;
    stroke-dashoffset: 261px;
    animation-delay: 1.2s;
}
